# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Django stuff
*.log
staticfiles/
media/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Gunicorn
*.sock

# Migrations (optional - depends on team)
# */migrations/*.py
# !*/migrations/__init__.py
